:root {
    --app-background-color: #eee;
    --app-primary-color: #3987f4;
    --app-secondary-color: #b3b3b3;
    --star-size: 60px;
    --star-color: #b3b3b3;
    --star-background: #fc0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background: var(--app-background-color);
}

.container {
    width: 100%;
}

.header {

    height: 100px;
    width: 100%;
    background-color: var(--app-primary-color);
}

.app {

}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courses-list div {
    display: flex;
    border-radius: 3px;
    cursor: pointer;
}

.card {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;

    background-color: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);

    transition:.2s all;
    
}

.card:hover {
    transform:scale(1.1);
}

.card-header {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: var(--app-background-color);
    padding: 10px 20px;
    border-bottom: solid var(--app-secondary-color) 1px;
    position: relative;
    height: 25px;
}

.card-header-image {
    position: absolute;
    bottom: -60%;
    width: 70px;
    height: 52px;
    max-width: 70px;
    max-height: 52px;
    background-color: rgb(112, 112, 112);
    border-radius: 3px;
}

.card-header-image > img {
    width: 70px;
    max-width: 70px;
    object-fit: contain;
}

.card-header-text {
    position: absolute;
    right: 20px;
    padding: 5px 15px;
    border-radius: 22px;
    border: solid 1px #d5d5d5;
    font-size: 12px;
    background-color: #fff;
    opacity: 0.8;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.card-body-title {
    margin-top: 50px;
}

.card-body-text {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.8;
}

.card-footer {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bolder {
    font-weight: 700;
}

.blue-text {
    color: var(--app-primary-color);
}

.stars {
--percent: calc(var(--rating) / 5 * 100%);
display: inline-block;
font-size: 25px;
font-family: Times;
line-height: 1;
}

.stars::before {
content: "★★★★★";
letter-spacing: 3px;
background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.search-box {
    width: 50vw;
    margin: 50px 20px;
}

.input-group {
    display: flex;
}

.input-group > input {
    border: none;
    border-bottom: 1px solid var(--app-secondary-color);
    background-color: var(--app-background-color);
    margin-left: 5px;
    width: -webkit-fill-available;
}

.input-group > input:focus {
    border-bottom: 1.5px solid var(--app-primary-color);
    outline: 0;  
    animation: show-border 0.3s;
}

@keyframes show-border {
    0%   { border-bottom: 1.5px solid var(--app-background-color); }
    100% { border-bottom: 1.5px solid var(--app-primary-color); }
}


/* loader styles */

.loader {
    position: fixed;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2px;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
  }
  .loader > div {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--app-primary-color);
    transform: scale(0);
    transform-origin: center center;
    animation: loader 2s infinite linear;
  }
  .loader > div:nth-of-type(1), .loader > div:nth-of-type(5), .loader > div:nth-of-type(9) {
    animation-delay: 0.4s;
  }
  .loader > div:nth-of-type(4), .loader > div:nth-of-type(8) {
    animation-delay: 0.2s;
  }
  .loader > div:nth-of-type(2), .loader > div:nth-of-type(6) {
    animation-delay: 0.6s;
  }
  .loader > div:nth-of-type(3) {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
    80% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
